body {
  text-align: center;
  font-family: sans-serif;
  background: #222;
  color: white;
}
canvas {
  background: #333;
  display: block;
  margin: 10px auto;
  border: 2px solid white;
}
#controls {
  margin-top: 10px;
}
#controls button {
  font-size: 18px;
  padding: 8px 15px;
  margin: 5px;
}
